/* Calculator styles */
*{
  background-color: rgb(255, 253, 253);
}
.calculator {
  background-color: #fffafa;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 100px auto;
  max-width: 350px;
  padding: 20px;
}

.display {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  height: 60px;
  margin-bottom: 20px;
  padding: 5px;
  padding-right: 5px;
  text-align: right;
  width: 100%;
}

.buttons {
  display: grid;
  grid-gap: 10px;
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
}

button {
  background-color: #f5fafa;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(78, 77, 77, 0.2);
  color: #333;
  cursor: pointer;
  font-size: 20px;
  height: 60px;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #333;
  color: #fff;
}

button:active {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.number {
  grid-column: span 1;
  background-color: #EFEFEF;
}

.operator {
  grid-column: span 1;
  background-color: #FF9F1C;
}

.clear {
  grid-column: span 2;
  background-color: #EF476F;
  color: #fff;
}

.equal {
  grid-column: span 2;
  background-color: #09efb2;
  color: #fff;
}
